//==============================================================================
// NightOwl GUI: CSS Reset
//==============================================================================
@import "normalize"

// Go ahead and make all elements use the much saner 'border-box' sizing mode:
* {
  box-sizing: border-box;
}

// Get rid of annoying margins:
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
p {
  margin: 0;
}
pre {
    margin: 0;
}
ul {
    margin: 0;
}

// Get rid of annoying space around table elements:
table {
  border: none;
  border-collapse: collapse;
}
td, th {
  text-align: left;
  margin: 0;
  padding: 0;
}
th {
  font-weight: normal;
}
